fast/
medicomate
**/__pycache__/
app/__pycache__/
app/__pycache__/__init__.cpython-312.pyc
app/__pycache__/main.cpython-312.pyc
app/__pycache__/__init__.cpython-312.pyc

# Ignore compiled Python files
__pycache__/
*.pyc
api/
.env
uploads/

app/lab_report/MedCat_model/SnomedCT_InternationalRF2_PRODUCTION_20250601T120000Z.zip

app/lab_report/cached_models/
app/lab_report/MedCat_model/medcat_model_pack/
pect